{% extends 'base.html' %}
{% block title %}{{ survey_title }} - Question {{ q_number }}{% endblock %}
{% block content %}
    <h1>Question {{ q_number }}</h1>
    <form action="/answer" method="POST">
        <p>{{ question }}</p>
        <ul>
        {% for choice in choices %}
            <li>
                <input type="radio" id="{{ loop.index0 }}" name="answer" value="{{ choice }}">
                <label for="{{ loop.index0 }}">{{ choice }}</label>
            </li>
        {% endfor %}
        </ul>
        <input type="submit" value="Next">
    </form>
{% endblock %}
