.Pokedex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.Pokedex-title {
  font: bold 2em sans-serif;
  color: gray;
}

@media screen and (min-width: 1090px) {
  .Pokedex {
    width: 1090px;
    margin-left: auto;
    margin-right: auto;
  }
}
