/* Navigation bar */

nav {
  display: flex;
  background-color: #ff6600;
  align-items: center;
  padding: 20px 20px;
  border-radius: 3px 3px 0 0;
}

.navbar-brand {
  font-weight: bold;
  margin: 0 3px;
}

.nav-link {
  font-size: 0.85rem;
  margin: 0 3px;
}

.nav-left {
  margin-right: auto;
  text-align: right;
}

.nav-right {
  margin-left: auto;
  text-align: right;
}
