/* Lists of stories */

.stories-list {
  margin: 20px 5px;
}

.stories-list > li {
  color: gray;
  font-size: 0.8rem;
  margin: 10px 0;
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}


/* Individual stories */

li {
  line-height: 1.5;
}

.fav-btn,
.remove-btn {
  display: inline-block;
  vertical-align: baseline;
  margin: 0 3px;
  cursor: pointer;
}

.story-container {
  display: inline-block;
  vertical-align: top;
}

.story-link {
  color: black;
  font-size: 0.85rem;
  font-weight: normal;
  margin: 18px 0;
}

.story-link:hover {
  text-decoration: none;
}

.story-author,
.story-user {
  display: block;
  font-size: 0.85rem;
}

.story-author {
  color: #556b2f;
}

.story-user {
  color: #d39e17;
}


/* Story forms */

.story-form button {
  width: 4rem;
  margin-left: 80px;
}

#new-story-form button {
  width: 8rem;
}

.story-form-container {
  padding-left: 20px;
}
