{% extends 'base.html' %}
{% block title %}Edit a tag{% endblock %}
{% block content %}
<h1>Edit a tag</h1>
<form action="/tags/{{ tag.tag_id }}/edit" method="post">
    <div class="mb-3">
        <label for="tag-name-input" class="form-label">Name</label>
        <input type="text" class="form-control" id="tag-name-input" name="tag-name" value="{{ tag.name }}">
    </div>
    <a href="/tags" class="btn btn-secondary" role="button">Cancel</a>
    <input type="submit" class="btn btn-success" value="Edit">
</form>
{% endblock %}
