{% extends 'base.html' %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
<h1>{{ post.title }}</h1>
<p>{{ post.content }}</p>
<p style="font-style: italic">By {{ post.user.first_name }} {{ post.user.last_name }} on {{ post.created_at }}</p>
<p style="font-weight: bold">
{% if post.tags %}
Tags:
{% for tag in post.tags %}
    <a href="/tags/{{ tag.tag_id }}" style="font-style: italic; text-decoration: none; color: #fff;" class="badge bg-primary">
        {{ tag.name }}
    </a>
{% endfor %}
{% endif %}
</p>
<a href="/users/{{ post.user_id }}" class="btn btn-outline-primary">Cancel</a>
<a href="/posts/{{ post.post_id }}/edit" class="btn btn-primary">Edit</a>
<a href="/posts/{{ post.post_id }}/delete" class="btn btn-danger">Delete</a>
{% endblock %}
