{% extends 'base.html' %}
{% block title %}Edit a user{% endblock %}
{% block content %}
<h1>Edit a user</h1>
<form action="/users/{{ user.user_id }}/edit" method="post">
    <div class="mb-3">
        <label for="first-name-input" class="form-label">First Name</label>
        <input type="text" class="form-control" id="last-name-input" name="first-name" value="{{ user.first_name }}">
    </div>
    <div class="mb-3">
        <label for="last-name-input" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="last-name-input" name="last-name" value="{{ user.last_name }}">
    </div>
    <div class="mb-3">
        <label for="image-url-input" class="form-label">Image URL</label>
        <input type="text" class="form-control" id="image-url-input" name="image-url" value="{{ user.image_url }}">
    </div>
    <a href="/users" class="btn btn-outline-secondary" role="button">Cancel</a>
    <input type="submit" class="btn btn-success" value="Save">
</form>
{% endblock %}
